header {
	border-bottom: solid 1px #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;

	@media (max-width: 767px) {
		flex-wrap: wrap;
	}

	.logo {
		padding: 20px;
		background: #333;
		text-transform: uppercase;
		color: #fff;
		display: inline-block;
		margin-right: 20px;

		&:hover {
			text-decoration: none;
		}
	}
}
